# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/IoT_Radio/.vs/IoT_Radio/v15
/IoT_Radio/IoT_Radio/Release
/IoT_Radio/IoT_Radio/__vm
/WiFiSetup/.vs/WiFiSetup/v15
/WiFiSetup/WiFiSetup/Release
/WiFiSetup/WiFiSetup/__vm
